ul li a {
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
  float: none;
  vertical-align: middle;
  display: block;
}



.square {
  background-color: gray;
  width: 50px;
  height: 50px;
  outline: 2px solid black;
  float: left;
  list-style: none;
  display: inline;

}

.row {
  width: 1;
  padding: 0px;
  display: inline;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
.x:after {
  content: "X";
  display: block;
  background-color: white;
  width: inherit;
  height: inherit;
  align-content: center;
  margin: 0 auto;

}
.o:after {
  content: "O";
  display: block;
  background-color: white;
  width: inherit;
  height: inherit;
  align-content: center;
  margin: 0 auto;

}

.square:hover {
  background-color: yellow;
}

.win {
  display: block;
}
